* {
    font-family: JetBrians Mono , FontAwesome, Symbols Nerd Font;
    font-size: 10px;
}

window#waybar {
    /*background-color: transparent;*/
    background-color: rgba(10, 10, 10, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0.2px;
    background-color: transparent;
    color: #fab387;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: #fff;
    background-color: #64727D;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #6aedd5;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    color: #fff;
    background-color: #000;
    box-shadow: inset 0 -3px #6aedd5;
    /*border: 3px inset #423E3E;*/
}



#mode {
    background-color: #64727D;
    border-bottom: 0px solid #ffffff;
}
#clock,
#language,
#network,
#backlight,
#pulseaudio,
#battery,
#custom-wallpaper
{
    color: #fab387;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border-right: 5px;
    transition: 0.3s;
    padding: 5px;
}



/*
#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}
*/

/* --------------------------------------------- */

#cpu,
#memory,
#disk,
#temperature,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}






#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: rgba(10, 10, 10, 0.8);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}


#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}


